/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores principais */
:root {
    --primary-color: #006400;
    --secondary-color: #004d00;
    --accent-color: #4CAF50;
    --light-color: #DCDCDC;
    --dark-color: #333;
    --white-color: #ffffff;
} 

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #DCDCDC;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Cabeçalho */
.main-header {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--white-color);
    padding: 15px 0;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px; /* Limita a largura máxima para telas grandes */
    margin: auto;
}

.main-header .logo {
    height: 50px;
}

.main-header nav a {
    color: var(--white-color);
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.main-header nav a:hover {
    color: var(--accent-color);
}


/* Rodapé */
footer {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--white-color);
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Garante que o rodapé fique no final da página */
}

footer .container {
    width: 90%;
    max-width: 1200px; /* Limita a largura máxima para telas grandes */
    margin: auto;
}

footer .footer-columns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .footer-column {
    min-width: 150px;
} 


/* Formulários de cadastro */
.form-container {
    width: 90%;
    max-width: 600px; /* Ajustado para acomodar novos campos */
    margin: 50px auto;
    padding: 30px; /* Ajustado para mais espaçamento */
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 30px; /* Ajustado para separar do conteúdo */
    font-size: 1.8em;
    text-align: center;
    color: var(--primary-color);
}

.form-container label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.form-container input,
.form-container select {
    width: calc(100% - 22px); /* Ajusta a largura considerando o padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra interna */
    font-size: 1em; /* Tamanho de fonte ajustado */
}

.form-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.form-container .btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 15px;
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em; /* Tamanho de fonte ajustado */
    transition: background-color 0.3s; /* Suaviza a transição da cor */
}

.form-container .btn:hover {
    background-color: var(--accent-color);
}


/* Seções de Informações Pessoais, Endereço e Bancárias */
.information-group {
    border-top: 2px solid var(--primary-color);
    padding-top: 20px;
    margin-top: 20px;
}

.information-group h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.information-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}

.information-group input,
.information-group select {
    margin-bottom: 15px;
}

/* Ajustes para Campos de Endereço e Informações Bancárias */
.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os campos */
}

.input-group div {
    flex: 1;
    min-width: 200px; /* Garante que os campos se ajustem bem */
}

/* Estilização para Informações Pessoais */
.personal-info {
    border-top: 2px solid var(--primary-color);
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilização para Campos de Endereço */
.address-info {
    border-top: 2px solid var(--primary-color);
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilização para Campos Bancários */
.bank-info {
    border-top: 2px solid var(--primary-color);
    padding-top: 20px;
    margin-top: 20px;
}

/* Estilização para Campos Matrícula EVERTON #B-O-B-O-C-A */

.matricula-info{
    border-top: 2px solid var(--primary-color);
    padding-top: 20px;
    margin-top: 20px;
}


/* Tela Inicial do Usuário */
.tela-inicial {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.tela-inicial h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.tela-inicial .btn-container {
    margin-top: 30px;
}

.tela-inicial .btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.tela-inicial .btn:hover {
    background-color: var(--accent-color);
}


/* Estilos para a seção de lista de eventos */
.events-section {
    padding: 40px 20px;
    background-color: #DCDCDC; /* Cor de fundo suave para diferenciar a seção */
}

.events-section h2 {
    text-align: center;
    font-size: 2em;
    color: #006400;
    margin-bottom: 30px;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os cards no centro da página */
    gap: 20px;
}

.event-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: left; /* Alinha o texto à esquerda no card */
    width: calc(100% - 40px); /* Ajusta a largura para preencher o espaço disponível */
    max-width: 300px; /* Define uma largura máxima para os cards */
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.event-card h3 {
    font-size: 1.5em;
    color: #004d00;
    margin-bottom: 10px;
}

.event-card h3 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 10px; /* Adiciona um pequeno espaçamento abaixo do título */
}

.event-description {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

.event-details p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}

/* Estilo para o container principal de eventos (pode ser útil para futuras modificações) */
.events-container {
    display: flex;
    justify-content: center;
}

/* Detalhes dentro dos cards */
.event-details p {
    margin: 5px 0; /* Espaçamento entre os textos */
    color: #555;
}


/* Estilos para a seção de lista de alunos e servidores */
.users-section {
    padding: 40px 20px;
    background-color: #f8f9fa; /* Cor de fundo suave para diferenciar a seção */
}

.users-section h2 {
    text-align: center;
    font-size: 2em;
    color: #006400;
    margin-bottom: 30px;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os cards no centro da página */
    gap: 20px;
}

.users-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    text-align: left; /* Alinha o texto à esquerda no card */
    width: calc(100% - 40px); /* Ajusta a largura para preencher o espaço disponível */
    max-width: 300px; /* Define uma largura máxima para os cards */
}

.users-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.users-card h3 {
    font-size: 1.5em;
    color: #004d00;
    margin-bottom: 10px;
}

.users-description {
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
}

.users-details p {
    font-size: 0.9em;
    color: #333;
    margin: 5px 0;
}


/* Seleção de Usuário */
.user-selection {
    text-align: center;
    padding: 50px 20px;
}

.user-selection h1 {
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 20px;
}

.user-selection .options {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    gap: 40px; /* Ajustado para espaçamento entre opções */
}

.user-selection .options a {
    text-decoration: none;
    color: var(--dark-color);
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-selection .options a img {
    width: 120px; /* Ajuste o tamanho das imagens se necessário */
    height: 120px;
    margin-bottom: 30px; /* Aumenta o espaço acima das imagens */
}

.user-selection .options a span {
    font-size: 1.2em; /* Ajusta o tamanho da fonte se necessário */
    font-weight: bold;
}

.user-selection .options a:hover {
    transform: scale(1.1);
}


/* Página de Login */
.login-page {
    width: 90%;
    max-width: 400px; /* Limita a largura máxima para melhor ajuste */
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.login-page form {
    display: flex;
    flex-direction: column;
}

.login-page label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.login-page input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
}

.login-page button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-page button:hover {
    background-color: var(--secondary-color);
}

.login-page a {
    margin-top: 10px;
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

.login-page a:hover {
    text-decoration: underline;
}


/* Perfil */
.profile {
    background-color: var(--white-color);
    padding: 50px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

.profile h2 {
    font-size: 2em;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-details {
    flex: 1;
    font-size: 1.1em;
}

.profile-details p {
    margin-bottom: 10px;
}

.profile-actions {
    text-align: center;
    margin-top: 30px;
}

.profile-actions .btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}

.profile-actions .btn:hover {
    background-color: var(--accent-color);
}


/* Contêiner dos botões */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006400;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #004d00; /* Tom mais escuro para o hover */
}

.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.btn-delete:hover {
    background-color: darkred; /* Tom mais escuro para o hover */
}

.buttons-container {
    display: flex;
    flex-direction: column; /* Organiza os botões em coluna */
    gap: 5px; /* Espaçamento entre os botões */
    margin-top: 15px; /* Espaçamento acima dos botões */
    margin-bottom: -10px; /* Espaçamento acima dos botões */

}

/* Os dois primeiros botões ao lado um do outro */
.buttons-container .top-buttons {
    display: flex; /* Flex para deixar os botões lado a lado */
    gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo comum para todos os botões */
.buttons-container button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.buttons-container button:hover {
    opacity: 0.8;
}

/* Botão Deletar */
.delete-button {
    background-color: red; /* Cor de fundo vermelha */
    color: white;          /* Cor do texto branca */
    padding: 10px 20px;   /* Aumenta o tamanho do botão */
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.delete-button:hover {
    background-color: darkred; /* Cor do fundo ao passar o mouse */
}

/* Botão Editar */
.edit-button {
    background-color: #0000CD; /* Cor de fundo azul */
    color: white;        /* Cor do texto branca */
    padding: 10px 20px;   /* Aumenta o tamanho do botão */
    margin-right: 15px;  
    margin-left: 10px;    
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.edit-button:hover {
    background-color: #00008B; /* Cor do fundo ao passar o mouse */
}

/* Botão Editar Centro */
.edit-center-button {
    background-color: #0000CD; /* Cor de fundo azul */
    color: white;        /* Cor do texto branca */
    padding: 10px 20px;   /* Aumenta o tamanho do botão */ 
    margin-left: 75px;    
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.edit-button:hover {
    background-color: #00008B; /* Cor do fundo ao passar o mouse */
}

/* Botão Criar Certificado */
.certificate-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 10px; 
    margin-bottom: 15px;     
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.certificate-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Criar Transporte */
.transport-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 24px;      
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.transport-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Avaliar Evento */ 
.evaluateEvent-button {
    background-color: white; /* Cor de fundo cinza */
    color: black;        /* Cor do texto preta */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 10px;
    margin-bottom: 15px;      
    border-radius: 5px;     /* Adiciona bordas arredondadas */
    cursor: pointer;       /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.evaluateEvent-button:hover {
    background-color: #A9A9A9; /* Cor do fundo ao passar o mouse */  
}

/* Botão Ver Avaliações */ 
.seeReviews-button {
    background-color: white; /* Cor de fundo cinza */
    color: black;        /* Cor do texto preta */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 24px;      
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.seeReviews-button:hover {
    background-color: #A9A9A9; /* Cor do fundo ao passar o mouse */  
}

/* Botão Ver Transportes */ 
.seeTransports-button {
    background-color: white; /* Cor de fundo cinza */
    color: black;        /* Cor do texto preta */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 10px;
    margin-bottom: 15px;     
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.seeTransports-button:hover {
    background-color: #A9A9A9; /* Cor do fundo ao passar o mouse */  
}

/* Botão Ver Certificados */ 
.seeCertificates-button {
    background-color: white; /* Cor de fundo cinza */
    color: black;        /* Cor do texto preta */
    padding: 10px 10px;   /* Aumenta o tamanho do botão */
    margin-left: 24px;      
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    width: 106px; /* Define uma largura fixa para todos os botões */
}

.seeCertificates-button:hover {
    background-color: #A9A9A9; /* Cor do fundo ao passar o mouse */  
}

/* Botão Atualizar */
.update-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 12px;   /* Aumenta o tamanho do botão */
    margin-right: 15px;
    margin-left: 10px;      
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.update-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Cancelar Edição */
.cancel-edit-button {
    background-color: red; /* Cor de fundo vermelha */
    color: white;          /* Cor do texto branca */
    padding: 10px 12px;   /* Aumenta o tamanho do botão */
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.cancel-edit-button:hover {
    background-color: darkred; /* Cor do fundo ao passar o mouse */
}

/* Botão Participar */
.partipate-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 20px;   /* Aumenta o tamanho do botão */     
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.update-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Deslogar */
.logout-button {
    background-color: #004d00; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */    
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.logout-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Info Banco */
.edit-bank-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 16px;   /* Aumenta o tamanho do botão */
    margin-left: 10px; 
    margin-top: 15px;     
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    
}

.edit-bank-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Info Endereço */
.edit-adress-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 27px;   /* Aumenta o tamanho do botão */
    margin-left: 15px;      
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
    
}

.edit-adress-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Info Curso */
.edit-course-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 18px;   /* Aumenta o tamanho do botão */
    margin-left: 10px; 
    margin-top: 15px;     
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.edit-course-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}

/* Botão Info Matrícula */
.edit-matricula-button {
    background-color: #006400; /* Cor de fundo verde */
    color: white;        /* Cor do texto branca */
    padding: 10px 27px;   /* Aumenta o tamanho do botão */
    margin-left: 14px;      
    border: none;         /* Remove a borda padrão */
    border-radius: 5px;  /* Adiciona bordas arredondadas */
    cursor: pointer;      /* Muda o cursor ao passar o mouse */
    font-size: 16px;      /* Aumenta o tamanho da fonte */
    transition: background-color 0.3s; /* Efeito de transição */
}

.edit-matricula-button:hover {
    background-color: #004d00; /* Cor do fundo ao passar o mouse */
}


/* Estilo para o container geral de alunos */
#alunos-container {
    display: flex;
    flex-direction: column; /* Organiza os alunos em uma coluna */
    gap: 20px; /* Adiciona espaço entre cada bloco de aluno */
    padding: 20px;
}

/* Estilo para cada bloco de aluno */
.aluno-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.aluno-item p {
    margin: 5px 0;
    font-size: 14px;
}

/* Estilo para o título da seção */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


/* Estilos para a seção de avaliações */
.avaliacao-section {
    padding: 20px;
    text-align: center; /* Centraliza o título e o nome do evento */
}

.avaliacao-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o nome do evento */
.avaliacao-evento {
    font-size: 25px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

/* Container das avaliações */
.avaliacoes-container {
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    align-items: center;   /* Centraliza os elementos horizontalmente */
    gap: 10px;             /* Espaçamento vertical entre os cards */
    margin: 0 auto;        /* Centraliza o container */
    max-width: 600px;      /* Limita a largura máxima */
}

/* Estilo para os cards de avaliação */
.avaliacao-card {
    background-color: #f9f9f9; /* Fundo suave */
    border: 1px solid #ddd;    /* Borda leve */
    border-radius: 8px;        /* Bordas arredondadas */
    padding: 15px;             /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 100%;               /* Ocupa toda a largura disponível do container */
    text-align: left;          /* Alinha o texto à esquerda */
}


/* Estilos para a seção de transporte */
.transporte-section {
    padding: 20px;
    text-align: center; /* Centraliza o título e o nome do evento */
}

.transpote-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o nome do evento */
.transporte-evento {
    font-size: 25px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

/* Container das avaliações */
.transportes-container {
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    align-items: center;   /* Centraliza os elementos horizontalmente */
    gap: 10px;             /* Espaçamento vertical entre os cards */
    margin: 0 auto;        /* Centraliza o container */
    max-width: 600px;      /* Limita a largura máxima */
}

/* Estilo para os cards de avaliação */
.transporte-card {
    background-color: #f9f9f9; /* Fundo suave */
    border: 1px solid #ddd;    /* Borda leve */
    border-radius: 8px;        /* Bordas arredondadas */
    padding: 15px;             /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 100%;               /* Ocupa toda a largura disponível do container */
    text-align: left;          /* Alinha o texto à esquerda */
}

/* Estilos para a seção de certificado */
.certificado-section {
    padding: 20px;
    text-align: center; /* Centraliza o título e o nome do evento */
}

.cetificado-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o nome do evento */
.certificado-evento {
    font-size: 25px;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

/* Container das certificado */
.certificados-container {
    display: flex;
    flex-direction: column; /* Alinha os elementos na vertical */
    align-items: center;   /* Centraliza os elementos horizontalmente */
    gap: 10px;             /* Espaçamento vertical entre os cards */
    margin: 0 auto;        /* Centraliza o container */
    max-width: 600px;      /* Limita a largura máxima */
}

/* Estilo para os cards de certificado */
.certificado-card {
    background-color: #f9f9f9; /* Fundo suave */
    border: 1px solid #ddd;    /* Borda leve */
    border-radius: 8px;        /* Bordas arredondadas */
    padding: 15px;             /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 100%;               /* Ocupa toda a largura disponível do container */
    text-align: left;          /* Alinha o texto à esquerda */
}


/* Estilo para os cards do menu de opções */
.event-card {
    position: relative;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease;
}

.menu-button:hover {
    color: #007BFF;
}

.menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    min-width: 150px; /* Largura mínima para o menu */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 0; /* Remove o padding do li para que o link ocupe todo o espaço */
    margin: 4px; /* Espaçamento entre as opções */
}

.menu ul li a {
    display: block; /* Faz o link ocupar toda a área do li */
    padding: 10px 16px; /* Adiciona padding ao link */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-size: 14px;
    color: #333;
    border-radius: 4px; /* Bordas arredondadas para cada opção */
    transition: background-color 0.2s ease, transform 0.2s ease; /* Adiciona transform à transição */
}

.menu ul li a:hover {
    background-color: #228B22; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    transform: translateY(-2px); /* Efeito de levantar ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}